@use "../variables" as *;

.card-order {
  display: grid;
  grid-template-columns: 54px 1fr;
  gap: 12px;

  &__img {
    max-width: 54px;
    max-height: 54px;
    border-radius: 12px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }

  &__subtitle {
    grid-column: span 2;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
  }

  &__count-wrapper {
    display: flex;
    align-items: center;
    justify-items: center;
    max-width: max-content;
    gap: 1px;
  }

  &__btn {
    display: block;
    width: 29px;
    height: 29px;
    border-radius: 6px;
    background-color: $bg;
    text-align: center;
    outline-color: transparent;

    transition:
      outline-color $transition,
      background-color $transition;
    & svg {
      margin: 0 auto;
    }

    &:focus-visible {
      outline-color: $light-orange;
      background-color: $bg;
    }

    &:hover {
      background-color: $footer;
    }
  }

  &__count {
    cursor: pointer;
    font-size: 14px;
    padding: 5px;
    border: none;
    width: 29px;
    text-align: center;
    outline-color: transparent;
    background-color: transparent;
    transition:
      outline-color $transition,
      background-color $transition;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    // width: 100%;

    &:focus-visible {
      outline-color: $light-orange;
      background-color: $bg;
    }

    &:hover {
      background-color: $footer;
    }
  }

  &__price {
    justify-self: end;
    max-width: max-content;
  }
}
