@use "../variables" as *;
@use "../mixin" as *;
.cart {
  flex-shrink: 0;
  padding-top: 100px;
  display: none;
  max-width: 310px;

  &_open {
    display: flex;
  }

  @media (max-width: 1360px) {
    padding: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
  }

  @include mobile {
    height: auto;
    right: 14px;
    bottom: auto;
  }

  &__container {
    position: relative;
    border-radius: 32px;
    padding: 24px 16px;
    background-color: $white;
    min-height: 778px;
    max-width: 310px;

    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex-grow: 1;
    flex-basis: 100%;

    @include mobile {
      min-height: auto;
      max-width: 292px;
      gap: 24px;
    }
  }

  &__title {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 28px;
  }

  &__delivery {
    display: flex;
    align-items: center;
    gap: 4px;

    &::before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background-image: url("/img/delivery.svg");
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__item {
    padding: 16px 0;
    border-bottom: 1px solid rgba($dark, 0.04);

    &:last-child {
      border-color: transparent;
    }
  }

  &__btn {
    border-radius: 32px;
    padding: 9px 16px 8px 16px;
    color: $white;
    background-color: $light-orange;
    border: 1px solid transparent;
    outline: none;
    transition:
      background-colo $transition,
      border-color $transition,
      opacity $transition;

    &:focus-visible {
      background-color: $orange;
      border-color: $light-orange;
    }

    &:hover {
      background-color: $orange;
    }

    &:disabled {
      background-color: $light-orange;
      opacity: 0.4;
    }
  }

  &__totap-price {
  }

  &__close {
    position: absolute;
    top: 28px;
    right: 16px;
    color: $orange;
    transition: color $transition;
    border: 1px solid transparent;
    outline: none;

    &:focus-visible {
      border-color: $orange;
    }

    &:hover {
      color: $light-orange;
    }
  }

  &__order-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
