@use "../variables" as *;

.filter {
  padding: 30px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  &__group {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 12px;
    border: none;

    &--choices {
      gap: 64px;
    }
  }

  &__radio {
    position: absolute;
    appearance: none;
  }

  // &__radio:checked + &__label:hover {
  //   color: $white;
  //   background-color: $orange;
  // }

  &__radio:focus-visible + &__label {
    outline: 2px solid $orange;
    outline-offset: 5px;
  }

  &__radio:checked + &__label {
    color: $white;
    background-color: $light-orange;
  }

  &__label {
    display: flex;
    gap: 4px;
    align-items: center;
    cursor: pointer;
    padding: 16px;
    border-radius: 300px;
    background-color: $white;
    border: 1px solid transparent;
    outline: none;

    transition:
      color $transition,
      background-color $transition,
      border-color $transition;

    &::before {
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      background-size: 40px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--flowers::before {
      background-image: url("/img/flowers.png");
    }

    &--toys::before {
      background-image: url("/img/toys.png");
    }

    &--postcard::before {
      background-image: url("/img/postcard.png");
    }

    &:hover {
      color: $white;
      background-color: $orange;
    }
  }

  &__menu--choices {
  }

  &__choices {
  }

  &__select {
    display: flex;
    align-items: center;
    gap: 8px;

    &::after {
      content: "";
      width: 8px;
      height: 8px;
      background-image: url(/img/arrow.svg);
      background-repeat: no-repeat;
      background-size: 8px;
      background-position: center;
      scale: -1;
    }
  }

  &__group {
  }

  &__input-price {
  }

  &__type-list {
  }

  &__type-item {
  }

  &__type-btn {
  }
}
