@use "../variables" as *;
@use "../mixin" as *;

.hero {
  padding: 60px 0 30px;
  &__container {
  }

  &__head-group {
    margin-bottom: 24px;
  }

  &__title {
    font-family: $second-family;
    font-weight: 400;
    @include font-size(80, 120, 1024, 1440);
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    color: $green;
  }

  &__subtitle {
    font-family: $second-family;
    font-style: italic;
    font-weight: 400;
    @include font-size(32, 40, 1024, 1440);

    line-height: 1.3;
    text-align: right;
    color: $dark;
  }

  &__group-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  &__image {
    object-fit: contain;
    width: calc(284 / 1300 * 100%);

    &--left {
      border-radius: 400px 400px 400px 0;
    }

    &--center {
      width: calc(680 / 1300 * 100%);
    }

    &--right {
      border-radius: 400px 0 400px 400px;
    }
  }
}
